[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[include]
  path = ~/.gitconfig.local
[color]
  ui = auto
[alias]
  co = checkout
  st = status -sb
  b = branch
  d = diff
  dc = diff --cached
[pager]
  log = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
  show = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
  diff = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
