[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[color]
  ui = auto
[alias]
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  co = checkout
  st = status -sb
  b = branch
  d = diff
  ds = diff --cached
  g = grep --line-number --show-function --color --heading --break
  l = log --oneline --decorate --color
  lg = log --oneline --decorate --color --graph
  lp = log --decorate --stat --patch
  fixup = commit --amend -C HEAD
  gsub = git-gsub
  f = fetch
  fo = fetch origin
  p = push
  aa = add -A
  cm = commit -m
  c = commit
[pager]
  log = /opt/brew/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
  show = /opt/brew/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
  diff = /opt/brew/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
[include]
  path = ~/.gitconfig.local
