[core]
	editor = /usr/local/bin/vi
  excludesfile = ~/.gitignore
[include]
      path = ~/.gitconfig.local
[color]
	ui = auto
[alias]
	co = checkout
	st = status -sb
	b = branch
	d = diff
	dc = diff --cached
